*#
*~
*.#*
*__pycache__*
*.egg*
**/.DS_Store
stats/
*.pyc
*.swp
*.swo
*.model
*.pickle
*.eps
data/
temp/
test_data/
*.model
*.pickle
docs/build/*
.coverage

.coveralls.yml


gym_fluids/gym_fluids.egg-info/*
*~
gym_fluids/*.pyc